VITE_ANALYTICS_DISABLE=false  # disable both App Insights and Google Analytics when true

VITE_ENABLE_APP_INSIGHTS=true
VITE_ENABLE_GOOGLE_ANALYTICS=false

VITE_APP_INSIGHTS_CONNECTION_STRING=your-app-insights-connection-string
VITE_GOOGLE_TAG_ID=your-google-tag-id
