extends layout

block content
  div#flex-container
    div#flex-item
      iframe(style='border: 12px #400046 solid', width='640', height='360', src='https://www.youtube.com/embed/OOscn6lrabs?rel=0&showinfo=0&controls=0', frameborder='0' allowfullscreen)
      p
        span(class='u') YOU ARE!
        span(class='m') Music &amp; Concept:
          a(href='https://robmosher.com/') Rob Mosher
        span Video:
          a(href='http://7xmotion.com/') Christopher Mennuto
