doctype html
html
  head
    title= title
    meta(name='viewport' content='width=660, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-6391661-4"]);
      _gaq.push(["_trackPageview"]);
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src =
          ("https:" == document.location.protocol
            ? "https://ssl"
            : "http://www") + ".google-analytics.com/ga.js";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ga, s);
      })();

  body
    block content
