* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #570a8d;
  /* text-align: center; */
}
#flex-container {
  min-height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#flex-item {
  text-align: center;
}
p {
  font-family: "Trebuchet MS", verdana, serif;
  color: #7934aa;
  padding-top: 8px;
  font-size: 13pt;
  text-transform: uppercase;
}
a,
a:link,
a:visited,
a:active {
  color: #7934aa;
}
a:hover,
a:focus {
  color: #b756fc;
}
.u {
  font-weight: bold;
  padding-right: 10px;
}
.m:after {
  content: " ";
  font-size: 80%;
  padding: 0 5px;
  letter-spacing: -1px;
}
